<div class="alert alert-block alert-info"> <b> </b> 
</div>

## 1 - Connect to Vantage
<div class="alert alert-block alert-info"> <b> </b> 
</div>

In [1]:
import teradataml as tdml
tdml.options.configure.byom_install_location = "mldb"
tdml.display.print_sqlmr_query = False
import getpass
import json
tdml.__version__
from datetime import datetime
tic = datetime.now()
tdml.options.display

In [2]:
Param = {
    'host'          : 'tdprd2.td.teradata.com', 
    'user'          : 'dm250067', 
    'password'      : "ENCRYPTED_PASSWORD(file:{},file:{})".format ('../../PassKey.properties','../../EncPass.properties'), #getpass.getpass(), 
    'logmech'       : 'LDAP',
    'database'      : 'ADLSLSEMEA_DEMO_BANKING',
    'temp_database_name' : 'dm250067'
    }

Param = {
    'host'          : 'tdprd3.td.teradata.com', 
    'user'          : 'dm250067', 
    'password'      : "ENCRYPTED_PASSWORD(file:{},file:{})".format ('../../PassKey.properties','../../EncPass.properties'), #getpass.getpass(), 
    'logmech'       : 'LDAP',
    'database'      : 'ADLDSD_CHURN',
    'temp_database_name' : 'dm250067'
    }

tdml.create_context(**Param)

C:\Users\dm250067\Anaconda3\envs\vantage39\lib\site-packages\teradataml\context\context.py:480: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

Engine(teradatasql://:***@tdprd3.td.teradata.com/?DATABASE=ADLDSD_CHURN&LOGDATA=%2A%2A%2A&LOGMECH=%2A%2A%2A&USER=DM250067)

<div class="alert alert-block alert-info"> <b> </b> 
</div>

## 2 - Access to the data in S3 - Transactions

<div class="alert alert-block alert-info"> <b> </b> 
</div>

In [3]:
# Load the credentials from a JSON file
with open('../../awsrd_access.json', 'r') as f:
    credentials = json.load(f)

In [4]:
authorization = str({"Access_ID": credentials["access_key"], "Access_Key": credentials["secret_access_key"]}).replace("'",'"')
authorization

'{"Access_ID": "AKIATIVSSCKIJUVFH672", "Access_Key": "q0f8NK1na0Nvvp2tkx1OtdAI9yoKWYF3WrH45XIF"}'

In [5]:
%%time
# Read the CSV data using "data" argument.7
# authorization='{"Access_ID": "YOUR-ID", "Access_Key": "YOUR-KEY"}'
bucket_name = 'demo-banking-transactions'
obj = tdml.ReadNOS(authorization=authorization,
              location=f'/S3/s3.amazonaws.com/{bucket_name}/',
              stored_as='TEXTFILE')

# print the result DataFame.
data_s3 = obj.result
print(data_s3)

                                                                  Location      type    txn_id  step     amount     nameOrig oldbalanceOrig newbalanceOrig     nameDest oldbalanceDest newbalanceDest  isFraud  isFlaggedFraud
0  /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_train_39.csv  CASH_OUT  13610267   162   37195.36  C1718701582            0.0            0.0  C1242876644      131090.72      168286.07        0               0
1   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_83.csv   PAYMENT  27597673    45    7708.93  C1279960667       29181.15       21472.22  M1680954043            0.0            0.0        0               0
2   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_85.csv   CASH_IN  28588887   120  212162.43   C835259601     4820776.49     5032938.93   C686592713     7860744.66     7648582.23        0               0
3  /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_train_55.csv   PAYMENT  18626817   333   37515.32  C1142694406       142779.0      105263.68   M847325039            0.0            0.0        0               0
4   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_74.csv   PAYMENT  24597673    45    7708.93  C1279960667       29181.15       21472.22  M1680954043            0.0            0.0        0               0
5   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_94.csv   CASH_IN  31588887   120  212162.43   C835259601     4820776.49     5032938.93   C686592713     7860744.66     7648582.23        0               0
6   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_76.csv   CASH_IN  25588887   120  212162.43   C835259601     4820776.49     5032938.93   C686592713     7860744.66     7648582.23        0               0
7   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_31.csv   CASH_IN  10588887   120  212162.43   C835259601     4820776.49     5032938.93   C686592713     7860744.66     7648582.23        0               0
8   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_65.csv   PAYMENT  21597673    45    7708.93  C1279960667       29181.15       21472.22  M1680954043            0.0            0.0        0               0
9   /S3/s3.amazonaws.com/demo-banking-transactions/txn_history_test_58.csv   CASH_IN  19588887   120  212162.43   C835259601     4820776.49     5032938.93   C686592713     7860744.66     7648582.23        0               0
CPU times: total: 438 ms
Wall time: 3min 35s

In [6]:
data_s3.set_index('Location').filter(regex = '^.*_train.*$', axis = 0)[data_s3.columns[1::]].assign(fold='train')

       type    txn_id  step    amount     nameOrig oldbalanceOrig newbalanceOrig     nameDest oldbalanceDest newbalanceDest  isFraud  isFlaggedFraud   fold
0   PAYMENT  17608142   235   5794.49  C1736367089        55043.0       49248.51   M897450747            0.0            0.0        0               0  train
1   PAYMENT   2608142   235   5794.49  C1736367089        55043.0       49248.51   M897450747            0.0            0.0        0               0  train
2  CASH_OUT   3610267   162  37195.36  C1718701582            0.0            0.0  C1242876644      131090.72      168286.07        0               0  train
3   PAYMENT   8608142   235   5794.49  C1736367089        55043.0       49248.51   M897450747            0.0            0.0        0               0  train
4   PAYMENT   5626817   333  37515.32  C1142694406       142779.0      105263.68   M847325039            0.0            0.0        0               0  train
5   PAYMENT  18626817   333  37515.32  C1142694406       142779.0      105263.68   M847325039            0.0            0.0        0               0  train
6   PAYMENT  12626817   333  37515.32  C1142694406       142779.0      105263.68   M847325039            0.0            0.0        0               0  train
7  CASH_OUT  19610267   162  37195.36  C1718701582            0.0            0.0  C1242876644      131090.72      168286.07        0               0  train
8  CASH_OUT  13610267   162  37195.36  C1718701582            0.0            0.0  C1242876644      131090.72      168286.07        0               0  train
9  CASH_OUT  10610267   162  37195.36  C1718701582            0.0            0.0  C1242876644      131090.72      168286.07        0               0  train

In [7]:
%%time
# ingest the training set
data_s3.set_index('Location').filter(regex = '^.*_train.*$', axis = 0)[data_s3.columns[1::]].assign(fold='train').to_sql(
    schema_name = Param['database'],
    table_name = 'transactions',
    if_exists='replace',
    types = {
        "amount": tdml.FLOAT(),
        "oldbalanceOrig": tdml.FLOAT(),
        "newbalanceOrig": tdml.FLOAT(),
        "oldbalanceDest": tdml.FLOAT(),
        "newbalanceDest": tdml.FLOAT(),
        "isFraud": tdml.INTEGER()
    },
    primary_index = 'txn_id'
)
# ingest the test set
data_s3.set_index('Location').filter(regex = '^.*_test.*$', axis = 0)[data_s3.columns[1::]].assign(fold='test').to_sql(
    schema_name = Param['database'],
    table_name = 'transactions',
    if_exists='append',
    types = {
        "amount": tdml.FLOAT(),
        "oldbalanceOrig": tdml.FLOAT(),
        "newbalanceOrig": tdml.FLOAT(),
        "oldbalanceDest": tdml.FLOAT(),
        "newbalanceDest": tdml.FLOAT(),
        "isFraud": tdml.INTEGER()
    },
    primary_index = 'txn_id'
)

CPU times: total: 219 ms
Wall time: 26.7 s

In [8]:
data_in_vantage = tdml.DataFrame(tdml.in_schema(Param['database'], 'transactions'))
data_in_vantage

              type  step       amount     nameOrig  oldbalanceOrig  newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud   fold
txn_id
1634128   CASH_OUT   130    108881.67  C1739539604        21267.00            0.00  C1378174410            0.00       108881.67        0               0  train
19617877   CASH_IN   226     78772.51  C2088881398       100987.00       179759.51    C20158042       233531.18       154758.68        0               0   test
33589207   PAYMENT   407      5306.04  C1970560140        80582.00        75275.96   M322743347            0.00            0.00        0               0   test
16584434  CASH_OUT    44    244885.73  C1494757861       306071.00        61185.27  C1581783307            0.00       244885.73        0               0  train
23633314   PAYMENT   379      1962.41  C1225352619         6960.00         4997.59   M714140321            0.00            0.00        0               0   test
35587066  TRANSFER   186     53340.80  C1891433199            0.00            0.00  C1895349312     13438954.85     13492295.65        0               0   test
11595588  TRANSFER   327  10000000.00  C1154108970       103859.00            0.00   C478988849       420793.81     22364195.46        0               0  train
9586126   CASH_OUT   592    132870.68   C227489368       359725.00       226854.32  C1877350119            0.00       132870.68        0               0  train
17620018   PAYMENT   163      8465.88  C1262103296       310909.56       302443.69  M1805518376            0.00            0.00        0               0   test
10627277   CASH_IN   140     11906.36   C617180020      6662910.32      6674816.69    C16047759       582160.53       570254.17        0               0   test

<div class="alert alert-block alert-info"> <b> </b> 
</div>

## 3 - Access to the data in S3 - Web clicks
<div class="alert alert-block alert-info"> <b> </b> 
</div>

![](./images/Slide29.PNG)

In [9]:
bucket_name = "demo-banking-web-clicks"

In [12]:
authorization = str({"Access_ID": credentials["access_key"], "Access_Key": credentials["secret_access_key"]}).replace("'",'"')

In [13]:
%%time
# Read the CSV data using "data" argument.7
# authorization='{"Access_ID": "YOUR-ID", "Access_Key": "YOUR-KEY"}'
obj = tdml.ReadNOS(authorization=authorization,
              location=f'/S3/s3.amazonaws.com/{bucket_name}/',
              stored_as='TEXTFILE')

# print the result DataFame.
data_s3 = obj.result
print(data_s3)

                                                              Location  customer_id                  page                   datestamp
0  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_40.csv         7540  VIEW DEPOSIT DETAILS  2004-03-19 01:50:24.000000
1  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_75.csv        17711      CUSTOMER SUPPORT  2004-04-10 17:54:19.000000
2  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_82.csv        32019       ACCOUNT SUMMARY  2004-03-17 19:11:02.000000
3   /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_8.csv         5904       ACCOUNT SUMMARY  2004-05-03 16:59:46.000000
4  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_87.csv         4562       ACCOUNT SUMMARY  2004-03-26 04:25:48.000000
5  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_10.csv        12515        FUNDS TRANSFER  2004-05-01 06:23:50.000000
6  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_33.csv         4248        FUNDS TRANSFER  2004-03-30 07:20:47.000000
7  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_59.csv         8879       ACCOUNT SUMMARY  2004-04-25 10:16:02.000000
8  /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_53.csv        16977       ACCOUNT HISTORY  2004-04-22 07:05:04.000000
9   /S3/s3.amazonaws.com/demo-banking-web-clicks/bank_web_clicks_6.csv        13087       ACCOUNT SUMMARY  2004-05-12 02:24:05.000000
CPU times: total: 328 ms
Wall time: 1min 18s

In [14]:
%%time
data_s3[['customer_id','page','datestamp']].to_sql(
    schema_name = Param['database'],
    table_name = 'web_clicks',
    if_exists='replace',
    types = {'customer_id' : tdml.BIGINT,
             'page' : tdml.VARCHAR(length=256, charset='LATIN'),
             'datestamp' : tdml.TIMESTAMP(timezone=True, precision=6)
            }
)

CPU times: total: 62.5 ms
Wall time: 7.39 s

In [15]:
data_in_vantage = tdml.DataFrame(tdml.in_schema(Param['database'], 'web_clicks'))
data_in_vantage

   customer_id                  page                       datestamp
0        20339        FUNDS TRANSFER  2004-03-29 22:00:56.000000-05:
1        20339  VIEW DEPOSIT DETAILS  2004-03-29 22:10:59.000000-05:
2        20339  VIEW DEPOSIT DETAILS  2004-03-29 22:12:20.000000-05:
3        20339       ACCOUNT HISTORY  2004-03-30 03:32:24.000000-05:
4        20339       ACCOUNT SUMMARY  2004-03-30 03:21:36.000000-05:
5        20339                   FAQ  2004-03-30 03:24:35.000000-05:
6        20339       ACCOUNT HISTORY  2004-03-30 03:35:37.000000-05:
7        20339        FUNDS TRANSFER  2004-03-29 22:16:47.000000-05:
8        20339      CUSTOMER SUPPORT  2004-03-29 22:18:10.000000-05:
9        20339       ACCOUNT SUMMARY  2004-03-29 22:21:26.000000-05:

![](./images/Slide23.PNG)

In [ ]:
tdml.remove_context()

In [ ]:
toc = datetime.now()
print('elapsed time :', toc - tic,' seconds')