# Setup the git project

# 1 - Connect to Vantage

In [19]:
import teradataml as tdml
tdml.options.configure.byom_install_location = "mldb"
tdml.configure.val_install_location = 'TRNG_XSP'
tdml.display.print_sqlmr_query = True
import getpass
import json
from datetime import datetime
tic = datetime.now()
tdml.__version__

'17.20.00.04'

In [2]:
Param = {
    'host'          : 'tdprd2.td.teradata.com', 
    'user'          : 'dm250067', 
    'password'      : "ENCRYPTED_PASSWORD(file:{},file:{})".format ('../../PassKey.properties','../../EncPass.properties'), #getpass.getpass(), 
    'logmech'       : 'LDAP',
    'database'      : 'ADLSLSEMEA_DEMO_BANKING',
    'temp_database_name' : 'ADLSLSEMEA_DEMO_BANKING'
    }

Param = {
    'host'          : 'tdprd3.td.teradata.com', 
    'user'          : 'dm250067', 
    'password'      : "ENCRYPTED_PASSWORD(file:{},file:{})".format ('../../PassKey.properties','../../EncPass.properties'), #getpass.getpass(), 
    'logmech'       : 'LDAP',
    'database'      : 'ADLDSD_CHURN',
    'temp_database_name' : 'ADLDSD_CHURN'
    }

tdml.create_context(**Param)

C:\Users\dm250067\Anaconda3\envs\vantage39\lib\site-packages\teradataml\context\context.py:480: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

Engine(teradatasql://:***@tdprd3.td.teradata.com/?DATABASE=ADLDSD_CHURN&LOGDATA=%2A%2A%2A&LOGMECH=%2A%2A%2A&USER=DM250067)

## 2 - Creating the model table

In [3]:
#ddl for Aoa_Byom_Models 
query = f"""CREATE SET TABLE {Param['database']}.Aoa_Byom_Models 
     (
      model_version VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC,
      model_id VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC,
      model_type VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC,
      project_id VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC,
      deployed_at TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP(6),
      model BLOB(2097088000))
UNIQUE PRIMARY INDEX ( model_version );
"""
 
try:
    tdml.execute_sql(query)
except:
    tdml.execute_sql(f"DROP TABLE {Param['database']}.Aoa_Byom_Models;")
    tdml.execute_sql(query)

## 3 - Creating the aoa statistics table

In [4]:


#ddl for Aoa_Byom_Models 
query = f"""CREATE MULTISET TABLE {Param['database']}.aoa_statistics_metadata ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      column_name VARCHAR(1024) CHARACTER SET LATIN NOT CASESPECIFIC,
      column_type VARCHAR(1024) CHARACTER SET LATIN NOT CASESPECIFIC,
      stats VARCHAR(1024) CHARACTER SET LATIN NOT CASESPECIFIC,
      update_ts VARCHAR(1024) CHARACTER SET LATIN NOT CASESPECIFIC)
NO PRIMARY INDEX ;
"""
 
try:
    tdml.execute_sql(query)
except:
    tdml.execute_sql(f"DROP TABLE {Param['database']}.aoa_statistics_metadata;")
    tdml.execute_sql(query)

## 4 - Creating the prediction table

In [6]:
#ddl for Pima_Patient_Predictions
query = f"""CREATE MULTISET TABLE {Param['database']}.Transaction_fraud_predictions 
     (
      job_id VARCHAR(255) CHARACTER SET LATIN NOT CASESPECIFIC,
      txn_id BIGINT,
      isFraud BIGINT,
      json_report CLOB(1048544000) CHARACTER SET LATIN)
PRIMARY INDEX ( job_id );;
"""
 
try:
    tdml.execute_sql(query)
except:
    tdml.execute_sql(f"DROP TABLE {Param['database']}.Transaction_fraud_predictions;")
    tdml.execute_sql(query)

In [11]:
%%writefile script.bat
aoa feature create-stats-table -m ADLDSD_CHURN.transactions
aoa feature compute-stats -s ADLDSD_CHURN.PIMA -m ADLDSD_CHURN.ADLDSD_CHURN -t continuous -c amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest

Overwriting script.bat

In [12]:
import aoa

In [13]:
help(aoa.create_features_stats_table)

Help on function create_features_stats_table in module aoa.stats.store:

create_features_stats_table(features_table: str) -> None

In [51]:
metadata_table = "ADLDSD_CHURN.transactions_features"
tdml.db_drop_table(table_name=metadata_table.split('.')[1], schema_name=metadata_table.split('.')[0])
aoa.create_features_stats_table(metadata_table)

In [53]:
fs = aoa.compute_categorical_stats(features_df=tdml.DataFrame(tdml.in_schema(Param['database'],'transactions_fraud')), categorical_features = ['transaction_type','isfraud'])
aoa.stats.store.save_feature_stats(features_table=metadata_table, feature_type="categorical", stats=fs)

In [54]:
fs = aoa.compute_continuous_stats(features_df=tdml.DataFrame(tdml.in_schema(Param['database'],'transactions_fraud')), continuous_features = [c.lower() for c in ['amount', 'oldbalanceOrig', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']])
aoa.stats.store.save_feature_stats(features_table=metadata_table, feature_type="continuous", stats=fs)

In [16]:
help(aoa.compute_continuous_stats)

Help on function compute_continuous_stats in module aoa.stats.stats:

compute_continuous_stats(features_df: teradataml.dataframe.dataframe.DataFrame, continuous_features: List)

In [29]:
help(aoa.compute_categorical_stats)

Help on function compute_categorical_stats in module aoa.stats.stats:

compute_categorical_stats(features_df: teradataml.dataframe.dataframe.DataFrame, categorical_features: List)

In [22]:
tdml.DataFrame(tdml.in_schema(Param['database'],'transactions')).columns

['type',
 'txn_id',
 'step',
 'amount',
 'nameOrig',
 'oldbalanceOrig',
 'newbalanceOrig',
 'nameDest',
 'oldbalanceDest',
 'newbalanceDest',
 'isFraud',
 'isFlaggedFraud',
 'fold']

In [23]:
tdml.DataFrame(tdml.in_schema(Param['database'],'transactions')).tdtypes

type                  VARCHAR(length=11, charset='LATIN')
txn_id                                          INTEGER()
step                                           SMALLINT()
amount                                            FLOAT()
nameOrig              VARCHAR(length=17, charset='LATIN')
oldbalanceOrig                                    FLOAT()
newbalanceOrig                                    FLOAT()
nameDest              VARCHAR(length=16, charset='LATIN')
oldbalanceDest                                    FLOAT()
newbalanceDest                                    FLOAT()
isFraud                                         INTEGER()
isFlaggedFraud                                  BYTEINT()
fold              VARCHAR(length=1024, charset='UNICODE')

In [34]:
tdml.DataFrame(tdml.in_schema(Param['database'],'transactions'))

              type  step     amount     nameOrig  oldbalanceOrig  newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud   fold
txn_id
8626869   TRANSFER   129   12796.07  C2143889275            0.00            0.00   C700379447       124207.69       137003.76        0               0  train
4616999    PAYMENT   180    9376.87   C675294232         7269.00            0.00   M318123130            0.00            0.00        0               0  train
19618346  CASH_OUT    36  173949.14   C919826964            0.00            0.00  C1058865405      5432675.68      5643951.41        0               0   test
10602460   CASH_IN   136  198492.11   C628627107      3769479.34      3967971.45  C1561346033      1198531.58      1190021.10        0               0   test
15608476  CASH_OUT   201  114066.10  C1168204774       143977.00        29910.90   C357180483      8044730.88      8158796.99        0               0  train
13590898   CASH_IN   227  109260.96  C1970799193      4432427.99      4541688.95  C1950951146       439965.64       156977.47        0               0  train
1586574   CASH_OUT   299  444532.63  C1092412296       258418.00            0.00  C1876578025        37317.97       481850.60        0               0   test
13632885  TRANSFER   204  421069.58  C1157672701        63006.00            0.00  C1619148865            0.00       421069.58        0               0  train
20577603   CASH_IN   139   65744.80  C2011566160      4906345.94      4972090.74   C684896216       676593.20       610848.40        0               0   test
29593489   PAYMENT    13   28511.27   C522142050            0.00            0.00  M1727592206            0.00            0.00        0               0   test

In [43]:
df = tdml.DataFrame(tdml.in_schema(Param['database'],'transactions'))
df

              type  step     amount     nameOrig  oldbalanceOrig  newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud   fold
txn_id
15633293  CASH_OUT   182   59339.69   C221060535          840.00            0.00  C1992510557       127687.59       187027.28        0               0   test
609678     CASH_IN   211  140287.98   C747436450      6945163.59      7085451.57  C1467922899       510095.22       369807.24        0               0   test
14631580   CASH_IN   201  159354.85   C932208847        26833.00       186187.85   C663649705            0.00            0.00        0               0  train
29632927  CASH_OUT   202  137407.36   C392708533            0.00            0.00  C1928037047      1578513.03      1715920.39        0               0   test
2585269    PAYMENT   380    2000.22   C120749909          142.00            0.00   M803534153            0.00            0.00        0               0  train
25623057  CASH_OUT    37   86461.87  C1589282424        21647.00            0.00   C637276545       132819.64       219281.51        0               0   test
11601155  TRANSFER   201  500443.76  C1568977637            0.00            0.00  C1299453539      1163650.60      1664094.36        0               0   test
9625564   CASH_OUT    12  145110.40  C1492871826            0.00            0.00   C191614132       955046.28       733306.13        0               0  train
1611391   CASH_OUT   186  232885.62  C1406559457        50959.00            0.00   C658150693       128308.77       361194.38        0               0  train
10627277   CASH_IN   140   11906.36   C617180020      6662910.32      6674816.69    C16047759       582160.53       570254.17        0               0   test

In [46]:
df_new = df.assign(transaction_type = df['type'])
df_new = df_new[['txn_id','amount','nameOrig','oldbalanceOrig','newbalanceOrig','nameDest','oldbalanceDest','newbalanceDest','transaction_type','isFraud','fold']]
df_new

             amount     nameOrig  oldbalanceOrig  newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest transaction_type  isFraud   fold
txn_id
30634640  100796.67   C213523355            0.00            0.00   C993060940       657005.87       757802.54         CASH_OUT        0   test
12602868   28166.12   C158592186        40639.00        12472.88   C124225796        18797.31        46963.43         CASH_OUT        0  train
3586982    24338.59   C823715013         3023.80            0.00  M1238614404            0.00            0.00          PAYMENT        0   test
30589635  343697.13    C34236264       238036.00       581733.13   C737330443       847900.84       504203.71          CASH_IN        0   test
11609740  203791.01     C7700266            0.00            0.00  C1364616807       560103.46       763894.47         CASH_OUT        0  train
2593854   417208.40   C270255171          351.00            0.00  C1055713063       180993.18       598201.58         TRANSFER        0  train
6603724   253931.47  C1538327083      1342680.14      1596611.61  C1655339668      1086019.32       832087.85          CASH_IN        0  train
21618754   79307.92   C673106434      6001669.46      6080977.39  C1621163194       151958.23        72650.31          CASH_IN        0   test
19581457   40980.28  C1283900774            0.00            0.00   C313773084        72187.68       113167.96         CASH_OUT        0  train
35587066   53340.80  C1891433199            0.00            0.00  C1895349312     13438954.85     13492295.65         TRANSFER        0   test

In [47]:
df_new.to_sql(table_name = 'transactions_fraud', schema_name= Param['database'], primary_index = 'txn_id')